<h1>Welcome {{user.username}} to My Website</h1>

<p>Your email is {{user.email}}</p>

<p>Your hashed password is {{user.password}}</p><!-- unsure if I'm supposed to put this (as "secret content") here for the lab -->